@font-face {
  font-family: "Editorial New";
  src: url("/fonts/english/premium/editorial-new-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/english/premium/editorial-new-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/english/premium/editorial-new-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/english/premium/editorial-new-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/english/premium/editorial-new-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Editorial New";
  src: url("/fonts/english/premium/editorial-new-800-italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Migra";
  src: url("/fonts/english/premium/migra-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Migra";
  src: url("/fonts/english/premium/migra-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Migra Italic";
  src: url("/fonts/english/premium/migra-italic-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/english/premium/neue-machina-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/english/premium/neue-machina-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Machina";
  src: url("/fonts/english/premium/neue-machina-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Headline";
  src: url("/fonts/english/premium/tiempos-headline-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Fine";
  src: url("/fonts/english/premium/tiempos-fine-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-800-italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Breit";
  src: url("/fonts/english/premium/sohne-breit-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-100-italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Wide";
  src: url("/fonts/english/premium/reckless-wide-m-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-100-italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard XL";
  src: url("/fonts/english/premium/reckless-standard-xl-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-800-italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Schmal";
  src: url("/fonts/english/premium/sohne-schmal-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-800-italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne Mono";
  src: url("/fonts/english/premium/sohne-mono-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America Mono";
  src: url("/fonts/english/premium/gt-america-mono-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Mono";
  src: url("/fonts/english/premium/gt-america-mono-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Mono";
  src: url("/fonts/english/premium/gt-america-mono-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Mono";
  src: url("/fonts/english/premium/gt-america-mono-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America Mono";
  src: url("/fonts/english/premium/gt-america-mono-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-100-italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Condensed";
  src: url("/fonts/english/premium/reckless-condensed-m-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-800.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-800-italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Söhne";
  src: url("/fonts/english/premium/sohne-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("/fonts/english/premium/tiempos-text-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/english/premium/gt-america-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/english/premium/gt-america-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/english/premium/gt-america-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/english/premium/gt-america-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("/fonts/english/premium/gt-america-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-100.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-100-italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-200.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-200-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-400.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-400-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-500.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-500-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-600.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-600-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-700.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-700-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-900.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reckless Standard";
  src: url("/fonts/english/premium/reckless-standard-m-900-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
